
// @import "node_modules/bulma/sass/utilities/_all";
// @import "node_modules/bulma/sass/elements/table";
// @import "node_modules/bulma/sass/components/dropdown";
// @import "node_modules/bulma/sass/components/navbar";
// @import "node_modules/bulma/sass/form/shared.sass";


// Set your colors
// $primary: #8c67ef;
// $primary-invert: findColorInvert($primary);
// $twitter: #4099FF;
// $twitter-invert: findColorInvert($twitter);
// 
// // Setup $colors to use as bulma classes (e.g. 'is-twitter')
// $colors: (
//      "white": ($white, $black),
//      "black": ($black, $white),
//      "light": ($light, $light-invert),
//      "dark": ($dark, $dark-invert),
//      "primary": ($primary, $primary-invert),
//      "info": ($info, $info-invert),
//      "success": ($success, $success-invert),
//      "warning": ($warning, $warning-invert),
//      "danger": ($danger, $danger-invert),
//     "twitter": ($twitter, $twitter-invert)
// );
//
// // Links
// $link: $primary;
// $link-invert: $primary-invert;
// $link-focus-border: $primary;




// // Import Bulma and Buefy styles
// @import "node_modules/bulma/sass/base/_all";
// @import "node_modules/buefy/src/scss/buefy.scss";


yawik-job-list h3 {
    color:red;
}
yawik-job-list {
        text-align: center;
        position: relative;
        min-height: 235px;
}
yawik-job-list .yjl-loading-overlay {
    background-color: rgba(40,40,40,0);
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}
yawik-job-list .yjl-loading-overlay div.yjl-lo-spinner-wrapper {
    margin: 5em auto;
    display: inline-block;
    padding: 5px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 40px;
    box-shadow: 0 0 40px #777777;
}
yawik-job-list .yawik-job-list-items {
    border-collapse: collapse;
}
yawik-job-list .yawik-job-list-items tr {
    border-bottom: 1px solid grey;
}
yawik-job-list .yawik-job-list-items tr:last-child {
    border-bottom: 0px solid grey;
}
yawik-job-list .yawik-job-list-items td {
    text-align: left;
    vertical-align: middle;
}
yawik-job-list .yawik-job-list-items td a {
    display: block;
    padding: 1.5em;
}
yawik-job-list .yawik-job-list-items img {
    max-width: 120px;
    max-height: 60px;
}
yawik-job-list .pagination ul {
    display: inline-block;
    list-style:none;
    /* center in chrome */
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}
yawik-job-list .pagination ul li {
    display: flex;
    margin: 0;
    padding: 0;
    float: left;
}
yawik-job-list .pagination ul li a {
    position: relative;
    margin: 0px 0px 0px -1px;
    padding: 0.3em 0.7em;
    border: 1px solid grey;
    cursor: pointer;
}
yawik-job-list .pagination ul li.active a {
    background-color: lightblue;
    color: blue;
}
yawik-job-list .pagination ul li a:hover {
    background-color: lightgrey;
}
yawik-job-list .pagination ul li.disabled a {
    cursor: default;
    color: lightgrey;
}
yawik-job-list .pagination ul li.disabled a:hover {
    background-color: white;
}
yawik-job-list .pagination ul li:first-child a {
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
}
yawik-job-list .pagination ul li:last-child a {
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}
yawik-job-list input {
    margin-bottom: 8px;
}
